@font-face{
    font-family: 'Franklin Gothic';
    src: url('font/subset-FranklinGothic-Medium.eot');
    src: url('font/subset-FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
    url('font/subset-FranklinGothic-Medium.woff2') format('woff2'),
    url('font/subset-FranklinGothic-Medium.woff') format('woff'),
    url('font/subset-FranklinGothic-Medium.ttf') format('truetype'),
    url('font/subset-FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    }  
body{
    background-color: #141b23;
    background-image: url(image/Bitmap.png);
    background-position: right top;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic', sans-serif;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
    padding: 0;
    }
.navigation{
    margin-left: 55px;
    margin-right: 710px;
    margin-top: 65px;
    margin-bottom: 71px;
}
.navigation-list{
    color: #8b94a2;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    margin-right: 15px;
}
.active{
    font-size: 17px;
    margin-right: 25px;
}
.title-style{
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
    font-size: 25px;
    line-height: 30px;
    margin-left: 96px;
    margin-right: 748px;
    margin-bottom: 10px;
    font-weight: 500;
}
.text{ 
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
    font-size: 13px;
    margin-left: 95px;
    margin-right: 768px;
    line-height: 16px;
}
.first{
    margin-bottom: 16px;
}
.footer-text{
    color: #40454c;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-left: 54px;
    margin-right: 822px;
    margin-top: 140px;
    margin-bottom: 50px;
}